.delivery {
  padding-top: 150px;
  text-align: center;
  &__description {
    max-width: 643px;
    margin: 21px auto;
  }
  &__content {
    margin-top: 45px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, auto);
    grid-gap: 40px 30px;
  }
  &__item {
    max-width: 334px;
    text-align: left;
    display: flex;
    align-items: start;
  }
  &__icon {
    margin-right: 16px;
  }
  &__info-title {
    margin-bottom: 11px;
  }
  &__description--bottom {
    margin-top: 21px;
  }
  &__description--underline {
    color: $dark;
    font-size: 20px;
    line-height: 32px;
    background: linear-gradient(to top, #FFD042 50%, transparent 50%);
  }
}

@media (max-width: 1200px) {
  .delivery {
    &__content {
      grid-gap: 30px 20px;
    }
  }
}

@media (max-width: 992px) {
  .delivery {
    padding-top: 120px;
    &__content {
      grid-template-columns: repeat(2, auto);
      grid-template-rows: auto;
      grid-gap: 30px 10px;
    }
  }
}

@media (max-width: 768px) {
  .delivery {
    padding-top: 100px;
    &__content {
      grid-gap: 20px 15px;
    }
    &__item {
      flex-direction: column;
    }
    &__icon {
      margin-right: 0;
      margin-bottom: 10px;
    }
    &__description--underline {
      font-size: 18px;
      line-height: 32px;
    }
  }
}

@media (max-width: 576px) {
  .delivery {
    padding-top: 80px;
    &__content {
      grid-template-columns: 1fr;
      grid-gap: 10px 0;
    }
    &__description--underline {
      font-size: 16px;
    }
  }
}