/* <HEADER> ============================================================================== */

.header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 102px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  padding: 26px 31px;
  z-index: 999;
  .menu__burger {
    display: none;
  }
  
}

.header__menu {
  display: flex;
  align-items: center;
  .menu__closed {
    display: none;
  }
}


.menu__items {
  display: flex;
}

.menu__item {
  margin-right: 22px;
  transition: all 0.3s linear;
  &:hover {
    color: $blue;
  }
}

.menu__button {
  background: $dark;
  border-radius: 4px;
  padding: 9px 20px;
  color: #FFFFFF;
  font-size: 15px;
  transition: all 0.3s linear;
  &:hover {
    background: $blue;
  }
  
}

/* </HEADER> ============================================================================= */

/* <MAIN> =================================================================================*/

.main {
  text-align: center;
  margin-bottom: 148px;
  margin-top: 176px;
}

.main__title {
  font-weight: normal;
  font-size: 48px;
  line-height: 64px;
  color: $dark;
  max-width: 818px;
  margin: 0 auto 30px;
}

.main__buttons {
  margin-bottom: 80px;
}

.button-order {
  margin-right: 16px;
}

.main_bg {
  margin-bottom: 36px;
}

/* </MAIN> ================================================================================*/

/* <ADVANTAGES> ========================================================================= */

.advantages {
  margin-bottom: 142px;
}

.advantages__items {
  display: flex;
  justify-content: space-between;
  text-align: center;
}

.advantages__item {
  max-width: 325px;
}

.advantages__icon {
  margin-bottom: 20px;
}

.advantages__title {
  margin-bottom: 10px;
}

/* </ADVANTAGES> ========================================================================= */

/* <CHAOS> =============================================================================== */

.chaos {
  margin-bottom: 168px;
  text-align: center;
}

.chaos__title {
  margin-bottom: 16px;
}

.chaos__description {
  margin-bottom: 40px;
}

.chaos__img {
  margin-bottom: 144px;
}

.chaos__title--bottom {
  max-width: 780px;
  margin: 0 auto;
}

/* </CHAOS> ============================================================================== */

/* <HELP> ================================================================================ */

.help {
  margin-bottom: 77px;
}

.help__content {
  display: flex;
}

.help__title {
  margin-bottom: 16px;
  max-width: 490px;
}

.help__description {
  max-width: 542px;
}

.help__description--underlined {
  margin-top: 28px;
  position: relative;
  color: $dark;
  &::after {
    content: "";
    position: absolute;
    width: 250px;
    height: 16px;
    background-color: #FFD042;
    left: 0;
    bottom: 0;
    z-index: -1;
  }
}

/* </HELP> =============================================================================== */

/* <PARTNERS> ============================================================================ */

.partners {
  margin-bottom: 78px;
}

.partner__border {
  width: 1088px;
  height: 1px;
  margin: 0 auto;
  background-color: #EEF2F3;
}

.partners__logo {
  margin: 56px 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}

.partners__logo-img {
  margin: 0 auto;
}

/* <PARTNERS> ============================================================================ */

/* <ABOUTUS> ============================================================================= */

.aboutus {
  margin-bottom: 143px;
  text-align: center;
}

.aboutus__title {
  margin-bottom: 21px;
}

.aboutus__description {
  max-width: 827px;
  margin: 0 auto 28px;
}

.aboutus__content {
  display: flex;
  justify-content: space-between;
  align-items: center;

  + .aboutus__content {
    margin-top: 64px;
  }
}

.aboutus__info {
  text-align: left;
}

.aboutus__info-title {
  margin-bottom: 20px;
}

.aboutus__info-text {
  max-width: 500px;
}

.aboutus__img {
  width: 500px;
  height: 272px;
}

/* </ABOUTUS> ============================================================================ */

/* <DELIVERY> ============================================================================ */

.delivery {
  margin-bottom: 124px;
  text-align: center;
}

.delivery__title {
  margin-bottom: 21px;
}

.delivery__description {
  max-width: 643px;
  margin: 0 auto 43px;
}

.delivery__content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.delivery__item {
  max-width: 334px;
  text-align: left;
  display: flex;
  align-items: start;
  margin-bottom: 33px;
}

.delivery_icon {
  margin-right: 16px;
}

.delivery__info-title {
  margin-bottom: 11px;
}

.delivery__description--underline {
  color: $dark;
  position: relative;
  font-size: 20px;
  line-height: 32px;

  &::after {
    content: "";
    position: absolute;
    width: 284px;
    height: 16px;
    background-color: #FFD042;
    left: 0;
    bottom: -5px;
    z-index: -1;
  }
}

/* </DELIVERY> =========================================================================== */

/* <RELIABILITY> ========================================================================= */

.reliability {
  margin-bottom: 144px;
  text-align: center;
}

.reliability__title {
  display: inline-block;
  margin-bottom: 17px;
  position: relative;

  &::after {
    content: url('../images/reliability.svg');
    position: absolute;
    top: -20px;
    right: -34px;
  }
}

.reliability__description {
  max-width: 857px;
  margin: 0 auto 48px;
}

.reliability__content {
  display: flex;
  justify-content: space-between;
  margin-bottom: 62px;
}

.reliability__item {
  max-width: 333px;
}

.reliability__icon {
  margin-bottom: 19px;
}

.reliability__item-title {
  margin-bottom: 11px;
}

.reliability__info {
  background-color: #F6F8F9;
  display: flex;
  align-items: center;
  padding: 40px;
}

.reliability__info-icon {
  margin-right: 24px;
}

.reliability__info-text {
  margin-right: 65px;
  font-size: 18px;
  line-height: 32px;
  color: $dark;
}

.reliability__info-text--bold {
  font-weight: 500;
}

/* </RELIABILITY> ========================================================+=============== */

/* <CREATE> =============================================================+=============== */

.create {
  margin-bottom: 144px;
  padding: 143px 0 118px;
  background-color: $dark;
  background-image: url('../images/create/create-bg.svg');
  background-repeat: no-repeat;
  background-position: right 144px;
  color: #FFFFFF;
}

.create__title {
  color: #FFFFFF;
  margin-bottom: 50px;
}

.create__content {
  max-width: 589px;
}

.create__item {
  padding-left: 40px;
  margin-bottom: 24px;

  &:last-child {
    margin-bottom: 50px;
  }
}

.create__item-title {
  color: #FFFFFF;
  margin-bottom: 10px;
  position: relative;

  &::before {
    content: '';
    width: 8px;
    height: 8px;
    position: absolute;
    border-radius: 100%;
    background-color: #fff;
    left: -40px;
    top: 9px;
  }
}

.create__item-text {
  color: rgba(255, 255, 255, 0.75);
}

.create__buttons {
  margin-bottom: 127px;
}

.create__button-order {
  background: #FFFFFF;
  color: $dark;

  &:hover {
    color: #fff;
  }
}

.create__button-more {
  color: #FFFFFF;
}

.create__wrapper {
  display: flex;
  justify-content: space-between;
  text-align: center;
}

.create__content-item {
  max-width: 340px;
}

.create__icon {
  margin-bottom: 20px;
}

.create__content-title {
  margin-bottom: 10px;
  color: #FFFFFF;
}

.create__content-text {
  color: rgba(255, 255, 255, 0.75);
}

/* </CREATE> ============================================================+=============== */

/* <WORK> ===============================================================+=============== */

.work {
  margin-bottom: 96px;
}

.work__wrapper {
  display: flex;
  justify-content: space-between;
}

.work__info-title {
  margin-bottom: 21px;
}

.work__description {
  max-width: 398px;
  margin-bottom: 60px;
}

.work__img {
  max-width: 336px;
}

.work__content {
  max-width: 520px;
}

.work__items {
  counter-reset: myCounter;
}

.work__item {
  margin-bottom: 30px;
  padding-left: 70px;
  position: relative;

  &::before {
    counter-increment: myCounter;
    content: counter(myCounter);
    font-size: 16px;
    line-height: 40px;
    color: #72787D;
    border: 1px solid #DADEDF;
    text-align: center;
    width: 40px;
    height: 40px;
    position: absolute;
    left: 0px;
    top: 0;
  }
}

.work__item-title {
  margin-bottom: 10px;
}

/* </WORK> ===============================================================+=============== */

@import "slider";


/* <READY> ============================================================+=============== */
.ready {
  margin-bottom: 150px;

  &__wrapper {
    background: url(../images/ready-bg.jpg) center center / cover no-repeat;
    padding: 117px 38px;
    text-align: center;
    border-radius: 6px;
  }

  &__title {
    font-size: 48px;
    line-height: 64px;
    color: $dark;
    margin-bottom: 54px;
  }
  &__button-more {
    background-color: #fff;
  }
}

/* </READY> ===========================================================+=============== */


/* <FOOTER> ===========================================================+=============== */
.footer {
  &__main {
    display: flex;
    justify-content: space-between;
    margin-bottom: 160px;
  }

  &__logo {
    margin-bottom: 22px;
  }

  &__adress {
    margin-bottom: 10px;
  }

  &__mail {
    display: block;
  }

  &__phone {
    display: block;
    margin-bottom: 20px;
  }

  &__fb {
    display: block;
  }

  &__nav-title {
    margin-bottom: 22px;
    color: $dark
  }

  &__nav-item {
    display: block;
    margin-bottom: 8px;
    transition: 0.3s all;
    &:hover {
      color: $blue;
    }
  }

  &__bottom {
    padding: 31px 0 33px;
    border-top: 1px solid #DADEDF;
    display: flex;
    justify-content: space-between;
  }



  &__policy {
    &:hover {
      color: $blue;
    }
  }
}

/* </FOOTER> ===========================================================+=============== */