

/* </DELIVERY> =========================================================================== */

/* <RELIABILITY> ========================================================================= */



/* </RELIABILITY> ========================================================+=============== */

/* <CREATE> =============================================================+=============== */



/* </CREATE> ============================================================+=============== */

/* <WORK> ===============================================================+=============== */

.work {
  margin-bottom: 96px;
}

.work__wrapper {
  display: flex;
  justify-content: space-between;
}

.work__info-title {
  margin-bottom: 21px;
}

.work__description {
  max-width: 398px;
  margin-bottom: 60px;
}

.work__img {
  max-width: 336px;
}

.work__content {
  max-width: 520px;
}

.work__items {
  counter-reset: myCounter;
}

.work__item {
  margin-bottom: 30px;
  padding-left: 70px;
  position: relative;

  &::before {
    counter-increment: myCounter;
    content: counter(myCounter);
    font-size: 16px;
    line-height: 40px;
    color: #72787D;
    border: 1px solid #DADEDF;
    text-align: center;
    width: 40px;
    height: 40px;
    position: absolute;
    left: 0px;
    top: 0;
  }
}

.work__item-title {
  margin-bottom: 10px;
}

/* </WORK> ===============================================================+=============== */

@import "slider";


/* <READY> ============================================================+=============== */
.ready {
  margin-bottom: 150px;

  &__wrapper {
    background: url(../images/ready-bg.jpg) center center / cover no-repeat;
    padding: 117px 38px;
    text-align: center;
    border-radius: 6px;
  }

  &__title {
    font-size: 48px;
    line-height: 64px;
    color: $dark;
    margin-bottom: 54px;
  }
  &__button-more {
    background-color: #fff;
  }
}

/* </READY> ===========================================================+=============== */


/* <FOOTER> ===========================================================+=============== */
.footer {
  &__main {
    display: flex;
    justify-content: space-between;
    margin-bottom: 160px;
  }

  &__logo {
    margin-bottom: 22px;
  }

  &__adress {
    margin-bottom: 10px;
  }

  &__mail {
    display: block;
  }

  &__phone {
    display: block;
    margin-bottom: 20px;
  }

  &__fb {
    display: block;
  }

  &__nav-title {
    margin-bottom: 22px;
    color: $dark
  }

  &__nav-item {
    display: block;
    margin-bottom: 8px;
    transition: 0.3s all;
    &:hover {
      color: $accent-color;
    }
  }

  &__bottom {
    padding: 31px 0 33px;
    border-top: 1px solid #DADEDF;
    display: flex;
    justify-content: space-between;
  }



  &__policy {
    &:hover {
      color: $accent-color;
    }
  }
}

/* </FOOTER> ===========================================================+=============== */