@media (max-width: 1360px) {
  .create {
    background-size: 40%;
  }
}

@media (max-width: 1200px) {
  .container {
    padding: 0 20px;
    max-width: 100%;
  }
  .header {
    position: relative;
    .menu__burger {
      display: block;
      width: 30px;
      height: 16px;
      cursor: pointer;
      span {
        display: block;
        margin-bottom: 5px;
        width: 30px;
        height: 2px;
        background: $dark;
        border-radius: 1px;
        &:last-child {
          margin-bottom: 0;
        }
      }
    }
    &__menu {
      flex-direction: column;
      justify-content: center;
      align-items: start;
      position: fixed;
      top: 0;
      right: -400px;
      background-color:$dark;
      padding-left: 70px;
      height: 100vh;
      width: 400px;
      transition: 0.5s all;
      .menu__closed {
        display: block;
        position: absolute;
        top: 30px;
        right: 20px;
        cursor: pointer;
        span {
          display: block;
          margin-bottom: 5px;
          width: 30px;
          height: 2px;
          background: rgba(255, 255, 255, 0.7);
          border-radius: 1px;
          &:first-child {
            transform: rotate(45deg);
          }
          &:last-child {
            transform: rotate(-45deg) translateY(-5px) translateX(5px);
          }
        }
      }
    }
  }

  .active {
   right: 0;
  }

  .menu {
    &__nav {
      .menu__items {
        flex-direction: column;
        .menu__item {
          margin-bottom: 20px;
          font-size: 18px;
          color: #fff;
          &:last-child {
            margin-bottom: 0;
          }
          &:hover {
            color: $blue;
          }
        }
      }
    }
    &__button {
      margin-top: 50px;
      background-color: $blue;
      &:hover {
        background-color: #fff;
        color: $dark;
      }
    }

  }
  

}