.reliability {
  padding-top: 150px;
  text-align: center;
  &__title {
    display: inline-block;
    margin-bottom: 17px;
    position: relative;
    &::after {
      content: '';
      background: url('../images/reliability.svg') no-repeat center center / contain;
      width: 43px;
      height: 43px;
      position: absolute;
      top: -20px;
      right: -34px;
    }
  }
  &__description {
    max-width: 857px;
    margin: 0 auto 48px;
  }
  &__content {
    display: flex;
    justify-content: space-between;
    margin-bottom: 62px;
  }
  &__item {
    max-width: 333px;
  }
  &__icon {
    margin-bottom: 19px;
  }
  &__item-title {
    margin-bottom: 11px;
  }
  &__info {
    background-color: #F6F8F9;
    display: flex;
    align-items: center;
    padding: 40px;
    &-icon {
      margin-right: 24px;
    }
    &-text {
      margin-right: 60px;
      font-size: 18px;
      line-height: 32px;
      color: $dark;
      span {
        font-weight: 500;
      }
    }
  }
}

@media (max-width: 1200px) {
  .reliability {
    &__content {
      flex-wrap: wrap;
      justify-content: space-between;
    }
    &__item {
      max-width: 45%;
      margin-bottom: 40px;
      &:last-child {
        margin-bottom: 0;
      }
    }
    &__info {
      &-text {
        text-align: left;
      }
    }
  }
}

@media (max-width: 992px) {
  .reliability {
    padding-top: 120px;
    &__title {
      &::after {
        width: 35px;
        height: 35px;
      }
    }
    &__content {
      margin-bottom: 40px;
    }
    &__info {
      align-items: start;
    }
  }
}

@media (max-width: 768px) {
  .reliability {
    padding-top: 100px;
    &__content {
      flex-direction: column;
    }
    &__item {
      max-width: 100%;
    }
    &__info {
      flex-direction: column;
      align-items: center;
      &-icon {
        margin-right: 0;
      }
      &-text {
        text-align: center;
        margin: 15px 0;
      }
    }
  }
}

@media (max-width: 576px) {
  .reliability {
    padding-top: 80px;
    &__title {
      &::after {
        width: 25px;
        height: 25px;
        top: -15px;
        right: -20px;
      }
    }
    &__info {
      padding: 20px 5px;
      &-text {
        font-size: 16px;
        line-height: 28px;
      }
    }
  }
}